{% extends 'base.html' %}
{% block content %}
<br><br>
<form action="/add_product" id="addproduct" method="POST">
  Add a New product:
  <br>

  Category:
  <select id="category">
    {% for cg in categories %}
      <option value={{ cg.cg_name }}>{{ cg.cg_name }}</option>
    {% endfor %}  
  </select><br>

  Product Name (It's unique for each product.): 
  <input type="text" name="productname" id="productname" required><br>

  Sale Price:
  <input type="number" name="saleprice" id="saleprice" step="0.01" required><br>

  Product Description:
  <input type="text" name="description" id="description" required><br>

  <div calss="input_attrs" id="input_attrs_field">
    
    <div calss="input_attrs" id="attr1">
      Attribute Name 1:
      <input type="text" name="attrname1" id="attrname1" required>
      Attribute Value 1:
      <input type="text" name="attrvalue1" id="attrvalue1" required>
      <a href="#" class="remove_field">Remove</a>
    </div><br>

  </div>
  <button id="addOneAttr" name="Add One More Attribute">Add One More Attribute</button>

    <input type="submit" value="Submit Product" name="submit">
</form>


<script src="/static/add_product.js"></script>



{% endblock %}
