{% extends 'base.html' %}
{% block content %}
<br><br>
<form action="/add_category" id="addcategory" method="POST">
    Add a New category:
    <br>
    Category Name: <input type="text" name="categoryname" id="categoryname"><br>
    <input type="submit" value="Add Category" name="submit">
</form>

<script>

  function showAlert (results) {

    alert(results);
  }

  function getInfo(evt) {
    // prevent change to some-script, and show the text by alerting.
    evt.preventDefault();

    var formInput = {"cg": $("#categoryname").val()};

    $.post("/add_category", formInput, showAlert);
  }

  $("#addcategory").on("submit", getInfo);

</script>

{% endblock %}
<!doctype html>