<!doctype html>
<html>
<head>
  <title>Small Business Assistant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/site.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SBA</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analysis Reports<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/product_sum">Product Summary Report</a></li>
              <li><a href="/sale_sum">Sales Sumary Report</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/product">Product List</a></li>
            </ul>
          </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Catalog<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/add_category">Add Category</a></li>
              <li><a href="/add_product">Add Product</a></li>
            </ul>
          </li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Upload<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/upload_product">Upload Products</a></li>
              <li><a href="/upload_product">Upload Purchase Transactions</a></li>
              <li><a href="/upload_product">Upload Sales Transactions</a></li>
            </ul>
          </li>

        </ul>
      
        <ul class="nav navbar-nav navbar-right">
          {% if session.get("user_id") %}
            <li><a>Hi {{ session["first_name"] }}!</a></li>
          {% endif %}
          
          {% if not session.get("user_id") %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log In</a></li>
          {% else %}
            <li><a href="/logout">Log Out</a></li>
          {% endif %}
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-msg">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  


  {% block content %}
  
  {% endblock %}

  <script src="https://code.jquery.com/jquery.js"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  

</body>
</html>