<!doctype html>
<html>
<head>
  <title>Small Business Assistant</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <p><a href="/">Home</a></p>
  {% if session.get("user_id") %}
    <a>Hi {{ session["first_name"] }}!</a>
  {% endif %}

  {% if not session.get("user_id") %}
    <p><a href="/register">Register</a></p>
    <a href="/login">Log In</a>
  {% else %}
    <a href="/logout">Log Out</a>
  {% endif %}
  
  


  {% block content %}
  
  {% endblock %}



</body>
</html>