{% extends 'base.html' %}
{% block content %}



{% if session.get("user_id") %}
<h2>Upload Files</h2>
<p><a href="/upload_product">upload purchase transactions</a></p>

<!-- 
<p><a href="/upload_sale">upload sale transactions</a></p>

<p><a href="/upload_category">upload category infomation</a></p> 
-->

<h2>Add Information</h2>
<p><a href="/add_category">Add Categories</a></p>

<p><a href="/add_product">Add Products</a></p>

<h2>Reports</h2>
<p><a href="/show_report">Reports</a></p>
<p><a href="/product_sum">Product Sumarize Preport</a></p>
<p><a href="/sale_sum">Sale Sumarize Preport</a></p>


<h2>Products</h2>
<p><a href="/product">Products</a></p>



{% endif %}


{% endblock %}
<!doctype html>


