{% extends 'base.html' %}
{% block content %}

{% if session.get("user_id") %}
<div class="container">
  <div class="row"></div>
  <div class="row">

    <div class="col-md-6 bordered" style="background-color:#f0f5f5;">
      <div class="analysis-chart">
        <canvas id="productSum"></canvas>
        <div id="lineLegend" class="chart-legend"></div>
      </div>
    </div>

    <div class="col-md-6 bordered" style="background-color:#f0f5f5;">
      <div class="analysis-chart">
        <canvas id="saleSum"></canvas>
        <div id="lineLegend" class="chart-legend"></div>
      </div>
    </div> 
  </div>

  <div class="row">
    <div class="col-md-6" style="background-color:#f0f5f5;">
      <div class="analysis-chart">
        <canvas id="topTenProduct"></canvas>
        <div id="lineLegend" class="chart-legend"></div>
      </div>

    </div>


    <div class="col-md-6" style="background-color:#f0f5f5;">
      <div class="analysis-chart">
        <canvas id="topTenProduct2"></canvas>
        <div id="lineLegend" class="chart-legend"></div>
      </div>
    </div>
    
  </div>
  <div class="row"></div>
</div>



<script>

  // Make Donut Chart of quantities
  var ctx_donut = $("#productSum").get(0).getContext("2d");

  $.get("/prod_pichart_current.json", function (data) {
    var myDonutChart = new Chart(ctx_donut, data);
  });

  // Make Line Chart of Product Sales in the past one year.
  var ctx_line = $("#saleSum").get(0).getContext("2d");

  $.get("/sale_linechart_oneyear.json", function (data) {
    var myLineChart = Chart.Line(ctx_line, data);
  });

  var ctx_chart = $("#topTenProduct").get(0).getContext("2d");

  $.get("/top_prod_barchart_current.json", function (data) {
    var myChart = new Chart(ctx_chart, data);
  });

  var ctx_chart2 = $("#topTenProduct2").get(0).getContext("2d");

  $.get("/top_prod_barchart_current.json", function (data) {
    var myChart = new Chart(ctx_chart2, data);
  });

  </script>

{% endif %}

{% endblock %}
<!doctype html>


