{% extends 'base.html' %}
{% block content %}



{% if session.get("user_id") %}


<div class="container">
  <h2>Products</h2><br>
  <p><a href="/add_product">Add Products</a></p>
             
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Category</th>
        <th>Sale Price</th>
        <th>Description</th>
        <th>Product Info</th>
        <th>Purchase Qty</th>
        <th>Sale Qty</th>

      </tr>
    </thead>
    <tbody>
      
      
      {% for product in products %}
        <tr>
          <td>{{ product.Product.prd_name }}</td>
          <td>{{ product.Product.prdcg.cg_name }}</td>
          <td>{{ product.Product.sale_price }}</td>
          <td>{{ product.Product.description }}</td>
          <td><a href="/product_detail/{{ product.Product.prd_id }}">see details</a></td>
          <td><a href="/purchase/{{ product.Product.prd_id }}">{{ product.pur_qty }}</a></td>
          <td><a href="/sale/{{ product.Product.prd_id }}">{{ product.sale_qty }}</a></td>
        </tr>

      {% endfor %}

    </tbody>
  </table>
</div>

<button id="myBtn" title="Go to top">Top</button>

<script>
// When the user clicks on the button, scroll to the top of the document
  function topFunction() {
      document.body.scrollTop = 0; // For Chrome, Safari and Opera 
      document.documentElement.scrollTop = 0; // For IE and Firefox
  }

  $("#myBtn").on('click', topFunction) 
</script>


{% endif %}




{% endblock %}
