{% extends 'base.html' %}
{% block content %}



{% if session.get("user_id") %}

<form id = "month-filter">
  <div class="container">
    <h2>Product Sumary Report</h2><br>
    
    Month <input type="month" name="months" id="months" required>
    <input type="submit" value="Show Product Qty Report" name="submit">
    <button id="showTop" title="showTop">Show Top Products</button>
    
    <p><a href="/product" >Product List</a></p>

    <div class="product-sum-chart">
      <div id="ChartContainer">
      </div>
    </div>

    <div id="handlebars-table">
    </div>

  </div>
</form>


{% endif %}

<script src="/static/product_sum_report.js"></script>


{% endblock %}
