{% extends 'base.html' %}
{% block content %}



{% if session.get("user_id") %}

<form id = "month-filter">
  <div class="container">
    <h2>Sale Sum Information</h2><br>
    
    show the past <input type="number" name="months" id="months" required>months data
    <input type="submit" value="Submit" name="submit">
    <button id="showRevenue" title="showRevenue">RevenueChart</button>
    <button id="showProfit" title="showProfit">ProfitChart</button>
    
    <p><a href="/product" >Sale Details of Each Product</a></p>

    <div class="sale-sum-chart">
      <div id="lineChartContainer">
      </div>
      <!-- <div id="lineLegend" class="chart-legend"></div> -->
    </div>

    <div id="handlebars-table">
    </div>
  </div>
</form>


{% endif %}

<script src="/static/sale_sum_report.js"></script>

{% endblock %}
