{% extends 'base.html' %}
{% block content %}



{% if session.get("user_id") %}

<form id = "month-filter">
  <div class="container">
    <h2>Sales Sumary Report</h2><br>
    
    Show Data in the Past <input type="number" name="months" id="months" required>months
    <input type="submit" value="Sumary Report" name="submit">
    <button id="showRevenue" title="showRevenue">RevenueChart</button>
    <button id="showProfit" title="showProfit">ProfitChart</button>
    
    <p><a href="/product" >Sales Details</a></p>

    <div class="sale-sum-chart">
      <div id="lineChartContainer">
      </div>
      <!-- <div id="lineLegend" class="chart-legend"></div> -->
    </div>

    <div id="handlebars-table">
    </div>
  </div>
</form>


{% endif %}

<script src="/static/sale_sum_report.js"></script>

{% endblock %}
